*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: clip;
  @supports not (overflow-x: clip) {
    html,
    body {
      overflow-x: hidden;
    }
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

html,
body {
  overflow-x: hidden;
  margin: 0 auto;
}

ul {
  list-style: none;
}
