/* Error: There is no module with the namespace "memdia".
 *     ,
 * 434 | /     @include memdia.tablet() {
 * 435 | |       display: flex;
 * 436 | |       position: absolute;
 * 437 | |       z-index: -1;
 * 438 | |       left: -1px;
 * 439 | |       top: 10px;
 * 440 | \     }
 *     '
 *   theme\components\_home.scss 434:5  @use
 *   theme\index.scss 8:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "memdia".\a     \2577 \a 434 \2502  \250c      @include memdia.tablet() {\a 435 \2502  \2502        display: flex;\a 436 \2502  \2502        position: absolute;\a 437 \2502  \2502        z-index: -1;\a 438 \2502  \2502        left: -1px;\a 439 \2502  \2502        top: 10px;\a 440 \2502  \2514      }\a     \2575 \a   theme\\components\\_home.scss 434:5  @use\a   theme\\index.scss 8:1               root stylesheet';
}
