/*home*/

@media (min-width: 1152px) {
  .hero {
    padding: 140px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    justify-self: start;
  }
  .hero__detail {
    text-align: left;
    align-items: flex-start;
  }
  .hero__title {
    max-width: 100%;
    text-align: left;
  }
  .hero__text {
    width: 100%;
    margin-left: 0%;
    text-align: left;
  }

  .hero__long-waves {
    max-width: 100%;
    height: 37%;
    filter: brightness(1);
    transform: scale(1.7) scaleX(0.65) scaleY(1.2) rotate(1deg);
    top: 38%;
    z-index: 0;
  }

  .hero__rectangle {
    width: 526px;
    height: 350px;
    margin: 0;
    justify-self: end;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 100px 32px;
  }

  .hero__detail {
    margin: 47px 0px auto 0px;
    width: 100%;
    text-align: left;
    height: 456px;
  }

  .hero__rectangle {
    width: 685px;
    height: 456.39px;
  }
}

@media (min-width: 1920px) {
  .hero {
    padding: 100px 220px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .hero__rectangle {
    width: 824px;
    height: 559px;
    justify-self: end;
  }
}

/*data*/
@media (min-width: 768px) {
  .security-image {
    max-width: 66.797vw;
    max-height: 45vw;
  }

  .data__base-title {
    position: relative;
    z-index: -1;
    width: 67%;
    height: 62px;
    right: -226px;
    top: -58px;
    left: 265px;
    margin-bottom: -50px;
  }
}
/*sponsors*/
@media (min-width: 768px) {
  .sponsors__title {
    max-width: 100%;
  }

  .sponsors__base-title {
    position: relative;
    z-index: -1;
    width: 73%;
    height: 49px;
    right: -184px;
    top: -48px;
    margin-bottom: -50px;
    transform: scaleY(1.3);
  }
  .integrations__long-waves {
    position: absolute;
    height: 35%;
    filter: brightness(1);
    -o-object-fit: unset;
    object-fit: unset;
    pointer-events: none;
    left: 23%;
    top: 171px;
    transform: scale(2);
  }
}

/*integrations*/
@media (min-width: 768px) {
  .integrations__apps {
    width: 70%;
  }
  .integrations__long-waves {
    position: absolute;
    height: 34%;
    filter: brightness(1);
    -o-object-fit: unset;
    object-fit: unset;
    pointer-events: none;
    left: 34%;
    top: 148px;
    transform: scale(2);
    width: 67%;
  }
}

/*testimonial*/
@media (min-width: 768px) {
  .testimonial {
    display: block;
  }
  .testimonial__title {
    display: none;
  }
  .testimonial__header {
    margin-bottom: 60px;
  }

  .tablet__title {
    display: block;
  }
  .sync__media__waves {
    transform: scaleY(0.9);
    height: 104% 709.438px;
    left: -7px;
    top: -32px;
  }
  .testimonial__base-title {
    position: relative;
    bottom: 118px;
    width: 319px;
    height: 56px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
    margin-bottom: -72px;
    left: 352px;
  }
  .testimonial .card-grid > .card {
    flex: 0 0 min(60vw, 350px);
    max-width: 350px;
    width: 100%;

    scroll-snap-align: center;
    margin: 0;
  }
  .testimonial .card-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;

    overflow-x: auto;
    overflow-y: visible;

    scroll-snap-type: x mandatory;
    scroll-padding: 0 22px;
    -webkit-overflow-scrolling: touch;

    padding: 28px 22px;
  }
}
/*signup*/
@media (min-width: 768px) {
  .signup {
    padding-top: 140px;
  }
  .section.signup h1 {
    max-width: 100%;
    text-align: left;
    margin-left: 0;
  }

  .signup__text {
    margin-left: 0px;
    font-size: 24px;
  }

  .signup__sales {
    font-size: 24px;
    margin-right: auto;
    margin-left: 0;
  }
  .signup__header {
    margin: 0%;
  }
  .signup__apple,
  .signup__windows,
  .signup__android {
    max-width: none;
    width: 60px;
    height: 60px;
  }
}
/*footer*/
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }

  .footer__brand {
    display: flex;
    justify-content: left;
    margin-bottom: 36px;
  }
  .footer__icon {
    width: 68.24px;
    height: 48.8px;
  }
  .footer__logo {
    font-size: 51.64px;
  }
  .footer__links {
    margin-top: 100px;
    font-size: 18px;
  }
  .footer__text {
    text-align: left;
  }
  .footer__legal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__social {
    display: flex;
    justify-content: flex-start;
  }
  .footer__content {
    max-width: 26.172vw;
    margin: 0 auto 80px 0;
    text-align: center;
  }
}

@media (max-width: 1152px) {
  .ecosystem__management {
    position: relative;
    overflow: hidden;
  }
}
