/*home*/

@media (min-width: 1152px) {
  .hero {
    padding: 140px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    justify-self: start;
  }
  .hero__detail {
    text-align: left;
    align-items: flex-start;
  }
  .hero__title {
    max-width: 100%;
    text-align: left;
  }
  .hero__text {
    width: 100%;
    margin-left: 0%;
    text-align: left;
  }

  .hero__long-waves {
    max-width: 100%;
    height: 37%;
    filter: brightness(1);
    transform: scale(1.7) scaleX(0.65) scaleY(1.2) rotate(1deg);
    top: 38%;
    z-index: 0;
  }

  .hero__rectangle {
    width: 526px;
    height: 350px;
    margin: 0;
    justify-self: end;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 100px 32px;
  }

  .hero__detail {
    margin: 47px 0px auto 0px;
    width: 100%;
    text-align: left;
    height: 456px;
  }

  .hero__rectangle {
    width: 685px;
    height: 456.39px;
  }
}

@media (min-width: 1920px) {
  .hero {
    padding: 100px 220px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .hero__rectangle {
    width: 824px;
    height: 559px;
    justify-self: end;
  }
}

@media (max-width: 1152px) {
  .ecosystem__management {
    position: relative;
    overflow: hidden;
  }
}
