@use '../settings/breakpoints';

@mixin mobile() {
  @media (max-width: (breakpoints.$breakpoint-md - 1px)) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: breakpoints.$breakpoint-md) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: breakpoints.$breakpoint-lg) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: breakpoints.$breakpoint-xl) {
    @content;
  }
}

@mixin wide() {
  @media (min-width: breakpoints.$breakpoint-xxl) {
    @content;
  }
}

@mixin mobile-tablet() {
  @media (max-width: (breakpoints.$breakpoint-lg - 1px)) {
    @content;
  }
}
