@use '../settings/breakpoints';

@mixin mobile() {
  @media (min-width: 0) and (max-width: breakpoints.$breakpoint-md) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: breakpoints.$breakpoint-md) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: breakpoints.$breakpoint-lg) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: breakpoints.$breakpoint-xl) {
    @content;
  }
}

@mixin wide() {
  @media (min-width: breakpoints.$breakpoint-xxl) {
    @content;
  }
}
