body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.03em;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 60px;
}

h1 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 54px;
  }
}

@media (min-width: 1152px) {
  h1 {
    font-size: 64px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 72px;
  }
}
