.hero__detail {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.hero__long-waves {
  position: absolute;
  width: 100%;
  height: 39%;
  filter: brightness(1.7);
  object-fit: unset;
  pointer-events: none;
  transform: scale(1.9) rotate(20deg);
  top: 21%;
  left: 19%;
}
.hero__detail {
  max-height: 364px;
  align-items: center;
}

.hero__title {
  width: 288px;
  height: 88px;
  z-index: 1;
}

.hero__text {
  width: 288px;
  height: 120px;
  z-index: 1;
}

.hero__rectangle {
  width: 286px;
  height: 191px;
  margin: 100px auto 0 auto;
  align-self: start;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .hero {
    padding: 140px 20px 100px 20px;
  }

  .hero__long-waves {
    position: absolute;
    max-width: 100%;
    height: 37%;
    filter: brightness(1);
    pointer-events: none;
    transform: scale(1.65) scaleX(0.8) scaleY(1.1) rotate(1deg);
    top: 23%;
    left: -4%;
    z-index: 0;
  }
  .hero__title,
  .hero__text {
    max-width: 728px;
  }

  .hero__rectangle {
    width: 551px;
    height: 367px;
  }
}

@media (min-width: 1152px) {
  .hero {
    padding: 140px 32px;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .hero__long-waves {
    max-width: 100%;
    height: 37%;
    filter: brightness(1);
    transform: scale(1.6) scaleX(0.65) scaleY(1.2) rotate(1deg);
    top: 38%;
    z-index: 0;
  }
  .hero__detail {
    width: 562px;
  }

  .hero__rectangle {
    width: 526px;
    height: 350px;
    margin: 0;
    justify-self: end;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 100px 32px;
  }

  .hero__detail {
    margin: 47px 0px auto 0px;
    width: 100%;
    text-align: left;
    height: 456px;
  }

  .hero__rectangle {
    width: 685px;
    height: 456.39px;
  }
}

@media (min-width: 1920px) {
  .hero {
    padding: 100px 220px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .hero__rectangle {
    width: 824px;
    height: 559px;
    justify-self: end;
  }
}

/* SECTION MANAGEMENT  */
/*  SECTION MANAGEMENT   */
.ecosystem {
  position: relative;
  overflow: hidden;
}

.ecosystem__circular-waves {
  position: absolute;
  width: 29%;
  height: 10%;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
  top: 74px;
  left: -5px;
  transform: scale(1.4);
}
.ecosystem__management {
  z-index: 1;
}

.managemente__header {
  max-width: 100%;
}

.management__base__title {
  position: relative;
  margin: -35px auto 0 auto;
  left: 40%;
  z-index: -1;
  pointer-events: none;
  width: 220.846px;
  height: 33.011px;
  transform: translateX(-38%) scale(1.5);
}
.management__rectangle {
  width: 286px;
  height: 177px;
  margin: 60px auto 100px auto;
}

.ecosystem__image {
  margin: 60px 0px;
}

/*SECTION WORK */
.work__detail {
  width: 100%;
  display: block;
}

.work__header {
  max-width: 100%;
  width: 100%;
}

.work__title {
  z-index: 2;
}
.work__text {
  z-index: 2;
}
.work__base__title {
  position: relative;
  z-index: -1;
  right: -151px;
  top: -31px;
  width: 60%;
  height: 100%;
  transform: scaleY(1.7);
  margin-bottom: -20px;
  pointer-events: none;
}
.work__image {
  margin-top: 60px;
}

/*SECTION  EXTENSION */
extension {
}
.extension__detail {
  height: 392px;
  width: 100%;
  justify-content: space-between;
}

.extension__header {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.extension__title {
  z-index: 2;
  width: 95%;
}
.extension__base__title {
  position: relative;
  left: 51%;
  transform: translateX(-17%);
  bottom: 41px;
  width: 195px;
  height: 40px;
  pointer-events: none;
  user-select: none;
  opacity: 0.95;
  z-index: -1;
  margin-bottom: -16px;
}

.extension__rectangle {
  width: 284.5px;
  height: 198.65px;
  margin-top: 60px;
}

/* SECTION CUSTOMISE*/
.section--white.customise {
  padding: 100px 16px;
}

.customise__header {
  display: block;
}

.customise__rectangle {
  width: 100%;
  height: 214.62px;
  margin-bottom: 60px;
}
.customise__detail {
  height: 386px;
  width: 288px;
  justify-content: space-between;
}

.customise__base__title {
  position: relative;
  left: 54%;
  transform: translateX(-17%);
  bottom: 43px;
  width: 195px;
  height: 49px;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  margin-bottom: -51px;
}

/* ===== MOBILE PRICING ===== */
.pricing__header {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.pricing__title {
  position: relative;
  text-align: center;
  max-width: 288px;
  margin: 0 auto;
  z-index: 1;
}
.pricing__base__title {
  position: relative;
  left: 35%;
  bottom: 41px;
  width: 151px;
  height: 49px;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  margin-bottom: -53px;
}

/* ===== plan ===== */
<<<<<<< HEAD:css/home/home.css

.plan {
  flex: 0 0 85%;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  scroll-snap-align: center;
  border: 1px solid #ffe492;
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}
=======
>>>>>>> 77184208a2816a688ab6309cd37b9d007e4dd124:assets/issue/components/home.css

.card {
  border: 2px solid #ffe492;
}
.card__list {
  margin-bottom: 25px;
}
/* nombre */
.card__name {
  font-size: 22px;
  margin-bottom: 16px;
}

/* precio */
.card__price {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* descripción */
.card__desc {
  margin-bottom: 24px;
  opacity: 0.95;
}

/* lista */
.card__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* item con check */
.card__item {
  position: relative;
  padding-left: 34px;
  line-height: 1.4;
}

.card__item::before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 700;
  border: 2px solid #f6d45a;
  color: #f6d45a;
}



/* dots */
.pricing .dots {
  margin-top: 80px;
  margin-bottom: 60px;
}
.select {
  background: #4f9cf9;
  color: #fff;
  border: none;
}
.btn--third {
  margin-top: 25px;
}
/*----------------SYNC--------------*/

.sync {
  margin-left: 0;
  margin-right: auto;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 140px;
}
.sync__header {
  text-align: left;
}
.section.sync h1 {
  text-align: left;
}
.sync_base_title-azul {
  width: 85%;
  position: relative;
  z-index: -1;
  top: -20px;
  pointer-events: none;
}
.sync__header {
  max-width: 288px;
}
/*-------------DATA-------*/

.security-image {
  width: 100%;
  height: auto;
  justify-content: center;
<<<<<<< HEAD:css/home/home.css
  gap: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
=======
  margin-bottom: 60px;
  display: block;
  padding: 0px;
  line-height: 0;
>>>>>>> 77184208a2816a688ab6309cd37b9d007e4dd124:assets/issue/components/home.css
}
.data__header {
  display: block;
}
.data__title {
  z-index: 0;
}
.data__base-title {
  position: relative;
  z-index: -1;
  width: 86%;
  height: 50px;
  right: -129px;
  top: -42px;
  margin-bottom: -50px;
}
/*---------sponsors--------*/
.sponsors__header {
  display: block;
}
.sponsors__title {
  z-index: 1;
  text-align: center;
  max-width: 288px;
  margin: auto;
}
.sponsors__base-title {
  position: relative;
  z-index: -1;
  width: 90%;
  height: 50px;
  right: -117px;
  top: -35px;
  margin-bottom: -50px;
}
.sponsors__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 100px 0 0 0;
}
.sponsors__logos img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/*-----------integrations----------*/
.integrations {
  padding: 100px 16px;
}
.integrations__apps {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  justify-content: center;
}
.integrations__detail {
  justify-content: center;
}

/*--------testimonial ---------*/

.testimonial__quotes {
  width: 56px;
  height: 40px;
  object-fit: contain;
}

.testimonial .card {
  border: none;
  margin: 60px auto;
  align-items: flex-start;
  text-align: left;
  background-color: #4f9cf9;
}

.testimonial__header {
  display: block;
  max-width: 288px;
}

.testimonial__title {
  z-index: 1;
  font-size: 40px;
}

.testimonial__base-title {
  position: relative;
  bottom: 52px;
  width: 151px;
  height: 49px;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  margin-bottom: -72px;
  left: 86px;
}

.testimonial__text {
  font-size: 16px;
  margin: 32px 0 40px 0;
}
.testimonial_photo {
  margin-top: 40px;
  width: 65px;
  height: 65px;
}

.testimonial__divider {
  border: 2px;
  height: 1px;
  width: 100%;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.35);
  margin: 0;
}

.testimonial__name {
  margin-bottom: 15px;
}
.testimonial__role {
  margin: 0px;
}
/*-----------------signup----------------*/
.signup {
}

/*----------------SYNC--------------*/

.sync {
  margin-left: 0;
  margin-right: auto;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 140px;
}
.sync__header {
  text-align: left;
}
.section.sync h1 {
  text-align: left;
}
.sync_base_title-azul {
  width: 85%;
  position: relative;
  z-index: -1;
  top: -20px;
  pointer-events: none;
}
/*-------------DATA-------*/

.security-image {
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 60px;
  display: block;
  padding: 0px;
  line-height: 0;
}
.data__header {
  display: block;
}
.data__title {
  z-index: 0;
}
.data__base-title {
  position: relative;
  z-index: -1;
  width: 86%;
  height: 50px;
  right: -129px;
  top: -42px;
  margin-bottom: -50px;
}
/*---------sponsors--------*/
.sponsors__header {
  display: block;
}
.sponsors__title {
  z-index: 1;
}
.sponsors__base-title {
  position: relative;
  z-index: -1;
  width: 90%;
  height: 50px;
  right: -117px;
  top: -35px;
  margin-bottom: -50px;
}
.sponsors__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 100px 0 0 0;
}
.sponsors__logos{
  height: 50px;
  width: auto;
  object-fit: contain;
}

/*-----------integrations----------*/

.integrations__apps {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  justify-content: center;
}
.integrations__detail {
  justify-content: center;
}

/*--------testimonial ---------*/

.integrations {
  padding: 100px 0;
}
