$primary: #4f9cf9;
$primary-dark: #043873;
$primary-light: #5a8fd8;

$secondary: #ffe492;
$secondary-border: #f6d45a;

$bg-dark: #043873;
$bg-light: #ffffff;
$bg-light-alt: #c4defd;

$text-dark: #020202;
$text-light: #ffffff;
$text-muted: #111111;
