.navbar {
  color: white;
  background: #043873;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__inner {
  gap: 3.472%;
}

.navbar__logo {
  width: 24px;
  height: 20.35px;
  border-radius: 7px;
  background: #fff;
  position: relative;
  display: block;
}

.navbar__brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(6px, 1vw, 12px);
  width: auto;
  height: auto;
  flex: 0 0 auto;
  text-decoration: none;
  overflow: hidden;
}
.navbar__brand svg {
  width: auto;
  height: clamp(18px, 3vw, 32px);
  display: block;
  flex: 0 0 auto;
}

.navbar__brand--text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 28px;
  white-space: nowrap;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar__link__has--arrow {
  height: 23px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 23px;
}

.navbar__link__has--arrow .nav-arrow {
  width: clamp(8px, 0.7vw, 9px);
  height: clamp(4px, 0.4vw, 4px);
  flex: 0 0 auto;
  display: block;
}

.navbar__link__has--arrow .nav-arrow path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.navbar__toggle {
  background: transparent;
  border: none;
  display: flex;
  margin-left: auto;
  line-height: 0;
  width: 42px;
  height: 24px;
}
@media (min-width: 768px) {
  .navbar {
    padding: 16px 32px;
  }
}

@media (max-width: 1151px) {
  .navbar__menu,
  .navbar__actions {
    display: none;
  }
}

@media (min-width: 1152px) and (max-width: 1439px) {
  .navbar__menu {
    display: none;
  }

  .navbar__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
  }
  .navbar__actions--login {
    min-width: 126px;
    height: 60px;

    padding: 16px 40px;
    border-radius: 8px;

    background: #ffe492;
    color: #043873;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    white-space: nowrap;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  .navbar__actions--whitecape {
    min-width: 227px;
    height: 60px;

    padding: 16px 24px;
    border-radius: 8px;

    background: #4f9cf9;
    color: #ffffff;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    white-space: nowrap;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  .navbar__toggle {
    display: flex;
    margin-left: 32px;
    line-height: 0;
  }
  .navbar__brand {
    order: 1;
  }
  .navbar__actions {
    order: 2;
  }
  .navbar__toggle {
    order: 3;
  }
}

@media (min-width: 1440px) {
  .navbar__toggle {
    display: none !important;
  }

  .navbar__inner {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
    margin-right: 75.5px;
  }

  .navbar__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
  }
  .navbar__actions--login {
    min-width: 126px;
    height: 60px;

    padding: 16px 40px;
    border-radius: 8px;

    background: #ffe492;
    color: #043873;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    white-space: nowrap;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
  }

  .navbar__actions--whitecape {
    min-width: 227px;
    height: 60px;

    padding: 16px 24px;
    border-radius: 8px;

    background: #4f9cf9;
    color: #ffffff;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    white-space: nowrap;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.02em;
  }
}
