.ecosystem {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  padding: 0 16px;
}

.ecosystem__fe--waves {
  position: absolute;
  width: 27%;
  height: 9%;
  z-index: 0;
  opacity: 0.3;
  pointer-events: none;
  top: 65px;
  left: -3px;
  transform: scale(1.5);
}

.ecosystem__management {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0px;
}

.management__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.management__header {
  position: relative;
  display: inline-block;
}

.management__title {
  position: relative;
  width: 96%;
  opacity: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #212529;
  z-index: 2;
  text-align: center;
}

.management__fe__base__title {
  position: absolute;
  left: 58%;
  bottom: -2px;
  z-index: -1;
  pointer-events: none;
  width: 220.846px;
  height: 33.011px;
  transform: translateX(-38%) scale(1.5);
}

.management__text {
  width: auto;
  height: auto;
  opacity: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  hyphens: none;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 60px;
}

.management__cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 60px;
  width: 200px;
  height: 70px;
  border-radius: 8px;
  background: #4f9cf9;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.management__mock {
  width: 288px;
  height: 177px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  background: #cfe5ff;
  border-radius: 2px;

  opacity: 1;
  margin-bottom: 100px;
}

.ecosystem__work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.work__header {
  display: block;
}

.work__title {
  max-width: 728px;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #212529;
  opacity: 1;
  z-index: 2;

  transform: rotate(0deg);
}

.work__fe__base__title {
  position: absolute;
  left: 100px;
  bottom: -1px;
  z-index: -1;
  width: 200px;
  height: 46px;
}

.work__content {
  order: 1;
}
.work__image {
  order: 2;
}

.work__header {
  position: relative;
}

.work__text {
  width: auto;
  height: 150px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  opacity: 1;
  transform: rotate(0deg);
  box-sizing: border-box;
  margin: 24px 0 60px 0;
}

.work__content .work__cta {
  width: 185px;
  height: 70px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 8px;

  opacity: 1;
  transform: rotate(0deg);

  box-sizing: border-box;
  margin-bottom: 60px;
}

.work__fe__ellipse {
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERIES  TABLET*/
@media (min-width: 768px) {
  .ecosystem {
    padding: 0 20px;
  }

  .management__content {
    max-width: none;
  }

  .management__header,
  .work__header {
    display: block;
    width: 100%;
  }
  .ecosystem__fe--waves {
    position: absolute;
    width: 27%;
    height: 9%;
    z-index: 0;
    opacity: 0.3;
    pointer-events: none;
    top: 77px;
    left: -48px;
    transform: scale(1.57) scaleX(0.9);
  }

  .management__fe__base__title {
    position: absolute;
    bottom: 14px;
    pointer-events: none;
    width: 228.846px;
    height: 26.011px;
    transform: translateX(-25%) scale(2);
    z-index: -1;
  }

  .management__title,
  .work__title {
    width: 100%;
    height: 65px;
    font-size: 54px;
  }

  .management__text,
  .work__text {
    max-width: 728px;
    width: 100%;
    height: auto;
  }

  .management__mock {
    width: 561px;
    height: 349px;
    margin-bottom: 100px;
  }

  .management__cta {
    width: 190px;
    height: 59px;
    margin: 0px 40px 60px 40px;
    margin-inline: auto;
  }
  .work__cta {
    width: 177px;
    height: 59px;
  }

  .work__fe__base__title {
    position: absolute;
    left: 372px;
    bottom: -2px;
    z-index: -1;
    width: 300px;
    height: 52px;
  }
}

/* MEDIA QUERIES  DESKTOP*/

@media (min-width: 1152px) {
  .ecosystem__management,
  .ecosystem__work {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .management__content {
    grid-column: 1;
    width: 100%;
    max-width: 528px;
    min-height: 421px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .management__header {
    width: 436px;
    min-height: 154px;
  }

  .ecosystem__fe--waves {
    position: absolute;
    width: 10%;
    height: 11%;
    z-index: 0;
    opacity: 0.3;
    pointer-events: none;
    top: 111px;
    left: -18px;
  }

  .management__fe__base__title {
    position: absolute;
    left: 289px;
    bottom: 23px;
    z-index: -1;
    width: 157px;
    height: 36px;
  }

  .management__title,
  .management__text {
    text-align: left;
    width: 436px;
  }
  .management__title {
    font-size: 64px;
  }

  .management__mock {
    grid-column: 2;
    margin: 46.36px 0 46.16px 0;
    width: 527.74px;
    height: 328.48px;
    justify-self: end;
  }
  .management__cta {
    margin: 0;
  }

  .work__content,
  .work__image {
    grid-row: 1;
    padding: 100px 0 0 0;
  }
  .work__image {
    grid-column: 1;
  }

  .work__content {
    grid-column: 2;
    width: 527px;
    min-height: 314px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    justify-self: end;
  }

  .work__fe__base__title {
    position: absolute;
    left: 238px;
    bottom: 15px;
    z-index: -1;
    width: 285px;
    height: 42px;
  }
  .work__text {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .ecosystem__management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  .ecosystem__fe--waves {
    position: absolute;
    width: 14%;
    height: 17%;
    z-index: 0;
    opacity: 0.3;
    pointer-events: none;
    top: 90px;
    left: -73px;
  }

  .management__content {
    width: 657px;
    min-height: 411px;
    text-align: left;
    margin: 18.5px 0 auto 0;
  }

  .management__mock {
    width: 719px;
    min-height: 448px;
    justify-self: end;
    margin: 0;
  }

  .management__text {
    width: 657px;
    text-align: left;
  }
  .management__fe__base__title {
    position: absolute;
    left: 266px;
    z-index: -1;
    width: 351px;
    height: 36px;
    top: 106px;
  }

  .work__title,
  .management__title {
    font-size: 72px;
    height: auto;
  }
  .work__fe__ellipse {
    width: 583px;
    height: 542.76px;
  }
  .work__content {
    width: 633px;
    height: 324px;
    padding: 109px 0 0 0;
  }
  .work__fe__base__title {
    position: absolute;
    left: 291px;
    bottom: -6px;
    z-index: -1;
    width: 417px;
    height: 45px;
  }
}

/* MEDIA QUERIES  4K*/
@media (min-width: 1920px) {
  .ecosystem {
    padding: 0 220px;
    width: 100%;
  }
  .management__mock {
    width: 748px;
    height: 547px;
  }
}
