@use '../settings/colors' as c;

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: c.$primary-light;
}

.dot--active {
  background: c.$primary-dark;
}
