@use '../tools/mixins' as media;

.hero {
  @include media.tablet() {
    padding: 140px 20px 100px 20px;
  }

  @include media.laptop() {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  @include media.desktop() {
    gap: 0;
  }

  &__long-waves {
    position: absolute;
    width: 100%;
    height: 39%;
    filter: brightness(1.7);
    object-fit: unset;
    pointer-events: none;
    transform: scale(1.9) rotate(20deg);
    top: 21%;
    left: 19%;

    @include media.tablet() {
      position: absolute;
      max-width: 100%;
      height: 37%;
      filter: brightness(1);
      pointer-events: none;
      transform: scale(1.65) scaleX(0.8) scaleY(1.1) rotate(1deg);
      top: 23%;
      left: -4%;
      z-index: 0;
    }
  }

  &__detail {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;

    @include media.laptop() {
      display: grid;
      align-items: flex-start;
      text-align: left;
      max-width: 562px;
      flex: 0 0 562px;
      max-height: 361px;
    }

    @include media.desktop() {
      width: none;
      height: none;
      max-width: 100%;
    }

    .hero__title {
      z-index: 1;

      @include media.laptop() {
        width: 562px;
        text-align: left;
      }
    }

    .hero__text {
      justify-content: center;
      max-width: 100%;

      z-index: 1;
      text-align: center;

      @include media.tablet() {
        text-align: center;
      }
      @include media.laptop() {
        text-align: left;
      }
    }
  }

  &__rectangle {
    width: 89.375vw;
    height: 59.688vw;
    margin: 100px auto 0 auto;
    align-self: start;
    position: relative;
    z-index: 1;

    @include media.tablet() {
      width: 71.745vw;
      height: 47.786vw;
    }

    @include media.laptop() {
      grid-column: 2;

      justify-self: end;
      align-self: center;

      width: min(526px, 100%);
      aspect-ratio: 526 / 350.45391845703125;

      height: auto;
      margin: 0;
    }
    @include media.desktop() {
      grid-column: 2;
      aspect-ratio: 526 / 350.45;
      width: 100%;
      max-width: none;
      justify-self: stretch;
    }
  }
}

.ecosystem {
  position: relative;
  overflow: hidden;

  @include media.laptop() {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-right: 32px;
    padding-left: 32px;
  }

  &__circular-waves {
    position: absolute;
    width: 29%;
    height: 10%;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
    top: 74px;
    left: -5px;
    transform: scale(1.4);

    @include media.tablet() {
      position: absolute;
      width: 26%;
      height: 11%;
      z-index: 1;
      opacity: 0.3;
      pointer-events: none;
      top: 65px;
      left: -50px;
      transform: scale(1.2);
    }

    @include media.laptop() {
      position: absolute;
      width: 15%;
      height: 18%;
      top: 60px;
      left: -24px;
    }

    @include media.desktop() {
      position: absolute;
      width: 17%;
      height: 23%;
      top: 60px;
      left: -110px;
    }
  }
  .management {
    z-index: 1;

    @include media.laptop() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-items: center;
      max-width: none;
    }
    @include media.desktop() {
      display: grid;
      grid-template-columns: repeat(0.9fr, 1.1fr);
    }

    &__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include media.laptop() {
        grid-column: 1;
        text-align: left;
        align-items: flex-start;
      }
    }
    &__header {
      position: relative;
      @include media.laptop() {
        width: 422px;
      }
      .management__base__title {
        position: absolute;
        left: 184px;
        z-index: -1;
        pointer-events: none;
        width: 247px;
        height: 30px;
        transform: translateX(-38%) scale(1.5);
        top: 56px;
        @include media.tablet() {
          position: absolute;
          left: 515px;
          z-index: -1;
          pointer-events: none;
          width: 247px;
          height: 30px;
          transform: translateX(-38%) scale(2.05);
          top: 32px;
        }
        @include media.laptop() {
          position: absolute;
          left: 331px;
          z-index: -1;
          pointer-events: none;
          width: 175px;
          height: 40px;
          top: 109px;
        }
      }
    }
    &__rectangle {
      width: 89.375vw;
      height: 55.313vw;
      margin: 60px auto 100px auto;

      @include media.tablet() {
        width: 73.047vw;
        height: 45.443vw;
      }

      @include media.laptop() {
        display: grid;
        grid-column: 2;
        justify-self: end;
        align-self: center;
        width: 100%;
        max-width: 528px;
        aspect-ratio: 528 / 328.48046875;
        height: auto;
        margin: 0;
      }

      @include media.desktop() {
        max-width: 720px;
      }
    }
  }

  .work {
    @include media.laptop() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-items: center;
    }

    &__detail {
      width: 100%;
      display: block;

      @include media.laptop() {
        grid-column: 2;
        justify-self: end;
        width: fit-content;
        max-width: 470px;
        text-align: left;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      @include media.desktop() {
        max-width: 650px;
        width: none;
      }
    }

    &__header {
      z-index: 2;
      position: relative;

      @include media.laptop() {
        width: none;
        max-width: 0px;
      }

      @include media.desktop() {
        width: 650px;
      }

      .work__base__title {
        position: absolute;
        z-index: -1;
        right: -38px;
        top: 7px;
        width: 206px;
        height: 22px;
        transform: scaleY(1.8);
        margin-bottom: -41px;
        pointer-events: none;

        @include media.tablet() {
          right: 78px;
          top: 32px;
          width: 322px;
          height: 30px;
          transform: scaleY(1.8);
          margin-bottom: -41px;
        }

        @include media.laptop() {
          top: 6px;
          left: 50%;
          width: 369px;
          height: 59px;
          transform: translateX(190px);
        }
      }
    }

    &__title {
      @include media.laptop() {
        width: 100%;
        max-width: 800px;
        white-space: nowrap;
      }
    }

    &__text {
      z-index: 2;
    }
    &__image {
      margin-top: 60px;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      @include media.tablet() {
        max-width: 60%;
        max-height: 60%;
      }

      @include media.laptop() {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        max-width: none;
        max-height: none;
        width: min(583px, 100%);
        aspect-ratio: 583 / 542.76;
        height: auto;
        margin-top: 0px;
      }

      @include media.desktop() {
        justify-self: start;
        margin-left: 0;
      }
    }
  }
}

.extension {
  &__detail {
    justify-content: space-between;
  }

  &__header {
    width: fit-content;
    margin: 0 auto;
    text-align: center;

    .extension__title {
      z-index: 2;

      @include media.laptop() {
        font-size: 54px;
        max-width: 470px;
      }
    }
    .extension__base__title {
      position: absolute;
      left: 119px;
      bottom: 37px;
      width: 203px;
      height: 40px;
      pointer-events: none;
      user-select: none;
      z-index: -1;
      margin-bottom: -40px;

      @include media.tablet() {
        position: absolute;
        left: 408px;
        bottom: 37px;
        width: 317px;
        height: 53px;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        z-index: -1;
        margin-bottom: -40px;
      }
      @include media.laptop() {
        position: absolute;
        left: 190px;
        bottom: 43px;
        width: 409px;
        height: 40px;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        z-index: -1;
        margin-bottom: -40px;
      }
    }
  }

  &__rectangle {
    width: 89.375vw;
    height: 62.078vw;
    margin-top: 60px;

    @include media.tablet() {
      max-width: 72.526vw;
      max-height: 50.642vw;
    }
    @include media.laptop() {
      grid-column: 2;
      justify-self: end;
      align-self: center;
      width: 95%;
      aspect-ratio: 459 / 320;
      height: auto;
      margin: 0;
    }
  }
}

.customise {
  padding: 100px 16px;

  &__rectangle {
    width: 89.375vw;
    height: 67.069vw;
    margin-bottom: 60px;

    @include media.tablet() {
      width: 69.531vw;
      height: 51.816vw;
      margin-bottom: 60px;
    }

    @include media.laptop() {
      grid-column: 1;
      justify-self: start;
      align-self: center;
      width: min(534px, 100%);
      aspect-ratio: 534 / 398;
      height: auto;
      margin: 0;
    }

    @include media.desktop() {
      width: 100%;
      max-width: 670px;

      aspect-ratio: 670 / 499.297;
      height: auto;
    }
  }

  &__header {
    display: block;

    @include media.laptop() {
      position: relative;
    }

    .customise__title {
      @include media.laptop() {
        width: 768px;
      }

      @include media.laptop() {
        font-size: 54px;
        width: 470px;
      }
    }

    .customise__base__title {
      position: absolute;
      left: 123px;
      bottom: -3px;
      width: 198px;
      height: 44px;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      z-index: -1;

      @include media.tablet() {
        left: 530px;
        bottom: 1px;
        width: 321px;
      }

      @include media.laptop() {
        left: 0px;
        bottom: -10px;
        width: 536px;
        height: 68px;
      }
    }
  }

  &__detail {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    @include media.laptop() {
      justify-self: end;
      text-align: left;
    }
  }
}

.pricing {
  &__header {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    max-width: 728px;
    margin-inline: auto;
    text-align: center;
    position: relative;

    @include media.laptop() {
      width: 728px;
      max-width: 728px;
      margin-inline: auto;
      text-align: center;
    }

    .pricing__title {
      position: relative;
      text-align: center;
      margin: 0 auto;
      z-index: 1;
    }
    .pricing__base__title {
      position: absolute;
      left: 83px;
      bottom: -10px;
      width: 173px;
      height: 57px;
      pointer-events: none;
      user-select: none;

      @include media.tablet() {
        position: absolute;
        left: 348px;
        bottom: -1px;
        width: 394px;
      }
      @include media.laptop() {
        left: 50%;
        transform: translateX(-1%);
        bottom: -2px;
        width: 400px;
      }
    }
  }
  &__text {
    @include media.tablet() {
      display: flex;
      text-align: center;
    }
    @include media.laptop() {
      display: flex;
      text-align: center;
    }
    @include media.desktop() {
      display: grid;
      justify-self: center;
      text-align: center;
      margin-inline: auto;
    }
  }

  .card-grid {
    @include media.mobile() {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: visible;
      gap: 24px;
      scroll-snap-type: x mandatory;
      justify-content: flex-start;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      padding: 28px 22px;
    }

    @include media.tablet() {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: visible;
      gap: 24px;
      scroll-snap-type: mandatory;
      -webkit-overflow-scrolling: touch;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 28px 22px;
    }

    @include media.laptop() {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 20px;

      overflow: visible;
      scroll-snap-type: none;
      padding: 28px 22px;

      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }

  .card {
    flex: initial;
    width: 100%;
    max-width: none;
    margin: 0;
    scroll-snap-align: center;
    border: 2px solid #ffe492;
    text-align: left;
    justify-content: flex-start;

    @include media.mobile() {
      flex: 0 0 (85vw, 300px);
      max-width: 300px;

      flex-shrink: 0;
    }

    @include media.tablet() {
      flex: 0 0 min(60vw, 480px);
      max-width: 480px;
      padding: 80px 44px;
    }

    @include media.laptop() {
      flex: initial;
      width: 100%;
      max-width: none;
      margin: 0;
      scroll-snap-align: none;
    }

    &__name {
      font-size: 24px;
      margin-bottom: 16px;
      text-align: left;
    }

    &__price {
      margin: 28px 0 28px 0;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      font-size: 44px;
    }

    &__desc {
      margin-bottom: 24px;
      opacity: 0.95;
      margin-left: 0;
      font-size: 16px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      margin: 25px 0 0 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
    }
    &__item {
      position: relative;
      padding-left: 34px;
      line-height: 1.4;
    }

    .card__item::before {
      content: '✓';
      position: absolute;
      left: 0;
      top: 2px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-weight: 700;
      border: 2px solid #f6d45a;
      color: #f6d45a;
    }
  }
  .dots {
    margin-top: 80px;

    @include media.tablet() {
      display: none;
    }
  }
  .select {
    background: #4f9cf9;
    color: #fff;
    border: none;
  }
  .btn--third {
    margin-top: 25px;
  }
}

.sync {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  @include media.desktop() {
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
}

.syng__media-waves {
  display: flex;

  @include media.tablet() {
    display: flex;
    position: absolute;
    z-index: -1;
    left: -1px;
    top: 10px;
  }
  @include media.laptop() {
    display: none;
  }
  @include media.desktop() {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-767px);
    top: -110px;
    z-index: 1;
  }
  @include media.wide() {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-767px);
    top: -110px;
    z-index: 1;
  }
}

&__head {
  display: block;
  position: relative;

  @include media.laptop() {
    width: 650px;
  }

  @include media.desktop() {
    width: min(1095px, 100%);
    margin-inline: auto;
  }

  .sync__title {
    width: 615px;
    text-align: left;
    margin-inline: 0;

    @include media.laptop() {
      width: 650px;
      display: inline-block;
    }
    @include media.desktop() {
      width: 1095px;
      display: inline-block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sync__base__title-azul {
    position: absolute;
    width: 400px;
    height: 25px;
    z-index: -1;
    top: 115px;
    pointer-events: none;
    margin-inline: 0;

    @include media.tablet() {
      position: absolute;
      width: 241px;
      height: 40px;
      top: 97px;
    }
    @include media.laptop() {
      left: 50%;
      transform: translateX(15%);
      top: 121px;
      width: 303px;
    }
    @include media.desktop() {
      left: 50%;
      transform: translateX(240px);
      top: 62px;
      width: 355px;
      height: 30px;
    }
  }
}
&__text {
  @include media.laptop() {
    display: flex;
    width: 650px;
    align-self: start;
    margin-left: 0;
    margin-right: auto;
  }

  @include media.desktop() {
    margin-inline: auto;
    width: 1064px;
    align-self: center;
    margin-inline: auto;
  }
}

.data {
  @include media.laptop() {
    display: grid;
    colunn-gap: 0px;
  }

  &__photo {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto 60px;
    display: flex;
    line-height: 0;

    @include media.laptop() {
      grid-row: 1;
      grid-column: 2;
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__detail {
    @include media.laptop() {
      grid-row: 1;
      grid-column: 1;
      width: 500px;
    }
    @include media.desktop() {
      width: 100%;
      max-width: 1064px;
      justify-self: stretch;
    }

    .data__header {
      display: inline-block;
      position: relative;

      @include media.laptop() {
        white-space: nowrap;
      }

      @include media.desktop() {
        white-space: nowrap;
      }

      .data__title {
        z-index: 0;

        @include media.laptop() {
          max-width: 526px;
        }
      }
      .data__base-title {
        position: absolute;
        z-index: -1;
        width: 500px;
        height: 50px;
        right: -108px;
        top: -1px;

        @include media.tablet() {
          position: absolute;
          z-index: -1;
          width: 430px;
          height: 67px;
          left: 312px;
          top: 4px;
        }
        @include media.laptop() {
          left: 50%;
          top: 20px;
          width: 429px;
          height: 75px;
          transform: translateX(-11%);
        }
      }
    }
  }
}

.sponsors {
  &__header {
    display: block;

    @include media.laptop() {
      text-align: center;
      margin-inline: auto;
    }
    .sponsors__title {
      z-index: 1;

      @include media.laptop() {
        text-align: center;
        margin-inline: auto;
      }
    }
    .sponsors__base__title {
      position: absolute;
      z-index: -1;
      width: 370px;
      height: 53px;
      right: -119px;
      top: 7px;

      @include media.tablet() {
        width: 400px;
        height: 80px;
        right: 35px;
        top: -1px;
      }

      @include media.laptop() {
        width: 420px;
        height: 80px;
        left: 50%;
        transform: translateX(-19%);
        top: 16px;
      }
    }
  }

  &__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px 0 0 0;

    @include media.laptop() {
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
    }
  }
  .sponsors__logos img {
    height: 49px;
    max-width: 192px;
    object-fit: contain;
  }
}

.integrations {
  padding: 100px 16px;

  &__long__waves {
    position: absolute;
    width: 100%;
    height: 39%;
    filter: brightness(1);
    object-fit: unset;
    pointer-events: none;
    transform: scale(2.2) rotate(20deg);
    top: 31%;
    left: 19%;
    z-index: -1;

    @include media.tablet() {
      width: 78%;
      height: 35%;
      filter: brightness(1);
      -o-object-fit: unset;
      object-fit: unset;
      pointer-events: none;
      transform: scale(1.8) rotate(-1deg);
      top: 13%;
      left: 28%;
    }

    @include media.laptop() {
      width: 34%;
      height: 29%;
      filter: brightness(1);
      -o-object-fit: unset;
      object-fit: unset;
      pointer-events: none;
      transform: scale(3) rotate(-1deg);
      top: 26%;
      left: 34%;
    }
  }
  &__apps {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    justify-content: center;
    z-index: 1;
  }
  &__detail {
    justify-content: center;

    @include media.laptop() {
      justify-self: flex-end;
      text-align: left;
      width: fit-content;
    }
    .data__title {
      @include media.laptop() {
        max-width: 460px;
      }
    }
  }
}

.testimonial {
  display: flex;
  justify-content: center;

  @include media.laptop() {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__header {
    display: block;
    position: relative;

    .tablet__title {
      display: none;
      @include media.tablet() {
        display: flex;
      }
      @include media.laptop() {
        display: none;
      }
    }

    .testimonial__title {
      z-index: 1;
      font-size: 40px;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;

      @include media.tablet() {
        display: none;
      }
      @include media.laptop() {
        display: block;
        width: 100%;
        text-align: center;
        margin-inline: auto;
        font-size: 64px;
        z-index: 1;
      }
    }
    .testimonial__base__title {
      position: absolute;
      bottom: 4px;
      width: 151px;
      height: 49px;
      pointer-events: none;
      user-select: none;
      z-index: -1;
      left: 84px;

      @include media.tablet() {
        bottom: 57px;
        width: 320px;
        height: 78px;
        left: 350px;
      }

      @include media.laptop() {
        bottom: -3px;
        width: 200px;
        height: 78px;
        left: 50%;
        transform: translateX(120px);
      }
    }
  }
  .card {
    border: none;
    margin: 60px auto;
    align-items: flex-start;
    text-align: left;
    max-height: 480px;
    width: 100%;

    @include media.laptop() {
      max-height: 570px;
    }

    @include media.desktop() {
      max-height: 480px;
      max-width: 500px;
    }

    .testimonial__text {
      font-size: 16px;
      margin: 32px 0 0 0;

      @include media.laptop() {
        font-size: 18px;
      }
    }
    .testimonial__quotes {
      width: 56px;
      height: 40px;
      object-fit: contain;

      @include media.laptop() {
        margin-top: 20px;
      }
    }
    .testimonial__divider {
      border: 2px;
      height: 1px;
      width: 100%;
      align-self: stretch;
      background: rgba(0, 0, 0, 0.35);
      margin-top: 40px;

      @include media.laptop() {
        margin-bottom: 40px;
      }
    }
    .testimonial__author {
      font-size: 18px;

      @include media.laptop() {
        display: flex;
        align-items: flex-start;
        gap: 14px;
      }

      .testimonial_photo {
        margin-top: 40px;
        width: 65px;
        height: 65px;

        @include media.laptop() {
          margin: 0;
        }
      }
      .testimonial__name {
        margin-bottom: 15px;
      }
    }
  }
  .card__testimonial p {
    margin: 0;
  }

  &__card p,
  &__card span,
  &__card strong {
    color: inherit;
  }

  .card--sky-blue .testimonial__quotes {
    filter: brightness(0) invert(1);
  }

  .card--sky-blue .testimonial__divider {
    background: white;
    border-color: white;
  }
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  @include media.tablet() {
    padding-top: 140px;
  }

  @include media.laptop() {
    display: grid;
    text-align: center;
    align-items: center;
    margin-inline: auto;
    max-width: 100%;
    padding: auto;
    padding: auto;
  }

  &__title {
    text-align: left;
    margin-inline: 0;

    @include media.laptop() {
      text-align: center !important;
    }
  }
  &__text {
    margin-left: 0px;

    @include media.tablet() {
      font-size: 24px;
    }

    @include media.laptop() {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__apps {
    display: flex;
    gap: 40px;

    @include media.laptop() {
      justify-content: center;
    }

    .signup__apple,
    .signup__windows,
    .signup__android {
      width: 30px;
      height: 30px;

      @include media.tablet() {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__sales {
    margin-left: 0;
    margin-right: auto;

    @include media.tablet() {
      font-size: 24px;
    }

    @include media.laptop() {
      margin-left: auto;
    }
  }
}

@include media.mobile() {
  [class*='__title'],
  [class*='__header'] {
    max-width: 288px;
    margin-inline: auto;
    position: relative;
  }
}

@include media.tablet() {
  [class*='__title'],
  [class*='__header'] {
    width: 728px;
    margin-inline: auto;
    position: relative;
  }
}

@include media.laptop() {
  [class*='__title'],
  [class*='__header'] {
    width: auto;
    max-width: none;
    margin-inline: 0;
    text-align: left;
  }
}

@include media.mobile-tablet() {
  .hero,
  .ecosystem,
  .extension,
  .customise,
  .pricing,
  .data,
  .sponsors,
  .integrations,
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@include media.laptop() {
  .hero,
  .extension,
  .customise,
  .data,
  .integrations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }
}

@include media.desktop() {
  .hero {
    gap: 0;
  }
}

@include media.desktop() {
  [class*='__title'],
  [class*='__header'] {
    width: auto;
    max-width: none;
    margin-inline: 0;
    text-align: left;
  }
}
