.navbar {
  color: white;
  background: #043873;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__logo {
  width: 24px;
  height: 20.35px;
  border-radius: 7px;
  background: #fff;
  position: relative;
  display: block;
}

.navbar__brand {
  gap: 3.472%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(6px, 1vw, 12px);
  width: auto;
  height: auto;
  flex: 0 0 auto;
  text-decoration: none;
  overflow: hidden;
}
.navbar__brand svg {
  width: auto;
  height: clamp(18px, 3vw, 32px);
  display: block;
  flex: 0 0 auto;
}

.brand__text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 19.6px;
  white-space: nowrap;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar__link {
  height: 23px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 1vw, 18px);
  line-height: 23px;
}

.navbar__link .nav-arrow {
  width: clamp(8px, 0.7vw, 9px);
  height: clamp(4px, 0.4vw, 4px);
  flex: 0 0 auto;
  display: block;
}

.navbar__link .nav-arrow path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.navbar__toggle {
  background: transparent;
  border: none;
  margin-left: auto;
  line-height: 0;
  width: 42px;
  height: 24px;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar__btn-cta {
  min-width: 227px;
  height: 60px;
  padding: 16px 24px;
  font-size: 16px;
}

.btn--secondary {
  min-width: 126px;
  height: 60px;
  padding: 16px 40px;
}
